<h1>Stupid Coaching</h1>

<div class = "question">
  <p> <%= @question %> <p>
  <p> <%= "--You" %> </p>
</div>

<p> <%= @answer %></p>
<p class= "text_answer"> <%= "--Your Coach" %> </p>

<span class = "link"> <%= link_to "Ask a new question", ask_path %> </span>
